/*Table Of Content*/

/*
1. Section Setting 
2. Section Caousel
3. Section Blog
4. Section Footer
5. Section Navbar
6. Section Page-Title
7. Section Timeline
    7.1 Section Responsive Timeline
8. Section Star
9. Section On to top
___________________________________
Colors
000000-2b2b2b-007bff-75c6fc-ffffff 
*/

/* Section Setting */

html,body {
    height: 100%;
    font-family: 'Prompt', sans-serif;
}

.bg-alpha{
    background-color: rgb(248, 249, 250, 0.5)!important;
}

.border-short-bottom{
    position: relative;
    padding: 10px 0px;
    margin-bottom: 25px;
}

.border-short-bottom::after{
    position: absolute;
    content: "";
    width: 250px;
    height: 2px;
    bottom: 0;
    left: 50%;
    margin-left: -125px;
    background: #595959;
}

.picturepx {
    height: 100% !important;
    width: 100%!important;
    text-align: center;
    
}

/* Section Caousel */
.carousel,
.carousel-inner,
.carousel-item,
.carousel-inner .active {
    height: 100%;
}

.carousel-img {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.carousel-caption {
    top: 40%;
}

.backscreen {
    background: rgba(0,0,0,0.5);
    height: 100%;
}

@media (max-width: 768px){
    .display-4 {
        font-size: 2rem;
    }
}

/* Section Blog */

.warpper-card-img{
    position: relative;
    overflow: hidden;
}

.warpper-card-img::after{
    content: '';
    padding-top: 56.25%;
    display: block;
    height: 0;
}

.warpper-card-img img{
    position: absolute;
    top: 0;
    transition: 1s;
}

.warpper-card-img img:hover{
    transform: scale(1.2)
}

.btn-group-custom button {
    margin-bottom: 0.5rem;
    width: 150px;
}

.btn-group-custom a:hover{
    text-decoration: none;
}

.blog-content {
    padding: 50px 100px;
    box-shadow: 0px 0px 10px #a5a5a5;
}


@media (max-width: 991px) {
    .blog-content {
        padding: 40px 50 px;
        box-shadow: 0px 0px 10px #a5a5a5;
    }
}

@media (max-width: 768px) {
    .blog-content {
        padding: 20px 30px;
        box-shadow: 0px 0px 10px #a5a5a5;
    }
}

/* Fix Blog OWL-CAROUSEL */

.owl-carousel .card-body{
    height: 150px;
    overflow: hidden;
}

/* Section Footer */

.semi-footer{
    background: #2b2b2b;
    color: #dcdcdc;
}

.semi-footer a{
    color: #dcdcdc;
}

.semi-footer li.active > a {
    color: rgb(255, 255, 255) !important;
}

.semi-footer h4{
    color: #75c6fc;
    border-bottom: 1px solid;
    padding: 10px 0;
}

#map {
    height: 300px;
    width: 100%;  
}

.fix-decoration a:hover{
    text-decoration: none;
}

/* Section Navbar */

.bg-purple {
    background-color: #303B56!important;
}

#navbar {
    padding: 25px;
    transition: 0.5s;
}

@media (max-width: 480px){
    .navbar-brand {
        font-size: 1rem;
        line-height: 2.3rem;
    }
}


/* Section Page-Title */

.page-image fix {
    padding: 200px 0px 120px;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.5);
}

.page-image {
    padding: 200px 0px 120px;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,0.5);
}

/* Section Timeline */

.timeline {
    list-style: none;
    position: relative;
    padding: 20px 0;
}

.timeline > li {
    position: relative;
    margin-bottom: 40px;
}

    /* ขีดลง */

.timeline::before{
    position: absolute;
    content: "";
    width: 2px;
    background: #e6e6e6;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

    /* วงกลม */

li > .timeline-badge {
    position: absolute;
    width: 18px;
    height: 18px;
    border: 3px solid #84ba3f;
    left: 50%;
    margin-left: -9px;
    border-radius: 50%;
    background: #fff;
    box-shadow: 0 0 0 5px #fff;
    top: 15px;
}

    /* ขีดขวาง */

li > .timeline-badge::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 20px;
    width: 25px;
    height: 2px;
    background: #e6e6e6;
}

li.inverted > .timeline-badge::before {
    content: "";
    right: -32px;
}

 /* ตัวหนังสือ */

li > .timeline-badge p{
    width: 200px;
    margin-top: -9px;
    margin-left: 25px;
    font-size: 17px;
    font-weight: bold;
}

li.inverted > .timeline-badge p{
    float: right;
    text-align: right;
    margin-right: 25px;
}

    /* ส่วนของการ์ด */

li > .timeline-card {
    position: relative;
    width: 46%;
    float: left;
    text-align: right;
    padding: 0 10px;
}

li.inverted > .timeline-card {
    float: right;
    text-align: left;
}

.timeline > li::after{
    content: "";
    clear: both;
    display: block;
}

    /* ลูกศร */

.timeline-arrow {
    width: 100%;
    text-align: center;
    bottom: -70px;
    color: #e6e6e6;
}

/* Section Responsive Timeline */

@media (max-width:768px){
    .timeline::before,.timeline-badge{
        left: 40px !important;
    }

    .timeline-badge::before {
        right: -32px !important;
    }

    .timeline-badge p, li.inverted > .timeline-badge p {
        margin-left: 50px !important;
        text-align: left;
        float: left;
    }

    li > .timeline-card {
        width: 100%;
        text-align: left;
        padding: 37px 0 0 85px;
    }

    .timeline-arrow {
        text-align: left;
        left: 0px;
    }

    .timeline-arrow > i {
        margin-left: 32px;
    }
}

/* Section Star */
/* ☆★ */

.star-rating {
    position: relative;
    font-size: 2em;
    color: rgb(33, 228, 121);
    display: inline-block;
}

.star-current {
    position: absolute;
    top: 0;
    width: 50%;
    white-space: nowrap;
    overflow:hidden;
}

/*  Section On to top */

.to-top {
    position: fixed;
    bottom: 2%;
    right: 2%;
    background: #75c6fc;
    width: 40px;
    height: 40px;
    color: #fff;
    z-index: 9999;
    border-radius: 50%;
    font-size: 25px;
    cursor: pointer;
    text-align: center;
}

.to-top:hover {
    color: #fff;
    background: #0099ff;
}


